In [2]:
%pip install pandas numpy matplotlib seaborn prophet

Requirement already satisfied: pandas in c:\users\choma\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy in c:\users\choma\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: matplotlib in c:\users\choma\anaconda3\lib\site-packages (3.9.2)
Requirement already satisfied: seaborn in c:\users\choma\anaconda3\lib\site-packages (0.13.2)
Requirement already satisfied: prophet in c:\users\choma\anaconda3\lib\site-packages (1.1.7)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\choma\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\choma\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\choma\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\choma\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\choma\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\choma\anaconda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\choma\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\choma\anaconda3\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\choma\anaconda3\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\choma\anaconda3\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: cmdstanpy>=1.0.4 in c:\users\choma\anaconda3\lib\site-packages (from prophet) (1.2.5)
Requirement already satisfied: holidays<1,>=0.25 in c:\users\choma\anaconda3\lib\site-packages (from prophet) (0.77)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\choma\anaconda3\lib\site-packages (from prophet) (4.66.5)
Requirement already satisfied: importlib_resources in c:\users\choma\anaconda3\lib\site-packages (from prophet) (6.5.2)
Requirement already satisfied: stanio<2.0.0,>=0.4.0 in c:\users\choma\anaconda3\lib\site-packages (from cmdstanpy>=1.0.4->prophet) (0.5.1)
Requirement already satisfied: six>=1.5 in c:\users\choma\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: colorama in c:\users\choma\anaconda3\lib\site-packages (from tqdm>=4.36.1->prophet) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# üì¶ Import necessary libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# üìÅ File paths
raw_path = r"C:\Users\choma\OneDrive\Documents\Profile Projects\retail-sales-analysis\data\raw_retail_sales_dataset.csv"
processed_path = r"C:\Users\choma\OneDrive\Documents\Profile Projects\retail-sales-analysis\data\processed\cleaned_retail_sales.csv"

In [7]:
# Load raw data
df = pd.read_csv(raw_path)

# Quick preview
print("Initial shape:", df.shape)
df.head()

Initial shape: (1000, 9)

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

In [ ]:
#  Load the raw dataset
df = pd.read_csv(raw_path)

# üßπ Clean column names
df.columns = (
    df.columns.str.strip()
              .str.lower()
              .str.replace(' ', '_')
              .str.replace(r'[^\w\s]', '', regex=True)
)

#  Check columns after cleaning
print("Columns:", df.columns.tolist())

Columns: ['transaction_id', 'date', 'customer_id', 'gender', 'age', 'product_category', 'quantity', 'price_per_unit', 'total_amount']

In [ ]:
# Drop rows with essential data missing
essential_columns = ['transaction_id', 'date', 'customer_id', 'product_category', 'quantity', 'price_per_unit', 'total_amount']
df = df.dropna(subset=essential_columns)

In [12]:
#  Convert date column to datetime
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [13]:
# Convert numeric columns
df['quantity'] = pd.to_numeric(df['quantity'], errors='coerce')
df['price_per_unit'] = pd.to_numeric(df['price_per_unit'], errors='coerce')
df['total_amount'] = pd.to_numeric(df['total_amount'], errors='coerce')
df['age'] = pd.to_numeric(df['age'], errors='coerce')

In [14]:
#  Drop duplicates
df = df.drop_duplicates()

In [15]:
# Save the cleaned dataset
os.makedirs(os.path.dirname(processed_path), exist_ok=True)
df.to_csv(processed_path, index=False)

print(f"‚úÖ Cleaned dataset saved to:\n{processed_path}")
print("Final shape:", df.shape)
df.head()

‚úÖ Cleaned dataset saved to:
C:\Users\choma\OneDrive\Documents\Profile Projects\retail-sales-analysis\data\processed\cleaned_retail_sales.csv
Final shape: (1000, 9)

,transaction_id,date,customer_id,gender,age,product_category,quantity,price_per_unit,total_amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100